In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [18]:
MAIN = '.'
DATA = os.path.join(MAIN, 'data')

FILE_INDIV = 'SOKA_SpDa_IndivData_toshare.csv'
FILE_DATES = 'SOKA_SpDa_SpeedDateData_toshare.csv'

df_indiv = pd.read_csv(os.path.join(DATA, 'raw', FILE_INDIV), index_col=0)
df_dates = pd.read_csv(os.path.join(DATA, 'raw', FILE_DATES), index_col=0)

In [34]:
df_indiv

,code,female,verb_sum,num_sum,spat_sum,mean_max3orig,mean_fluency,TEKintra_mean,TEKinter_mean,SEverb_mean,...,SMVSa_1,SMVSa_2,SMVSb_1,SMVSc_1,SSapioQ_SPQ1,SSapioQ_SPQ2,SSapioQ_SPQ4,SSapioQ_SPQ6,SSapioQ_SPQ8,SSapioQ_SPQ9
1,SD_1_02_W,1,8,7,11,1.611111,5.333333,3.222222,3.166667,2.3,...,4,3,3,4,3,4,2,3,3,4
2,SD_1_02_M,0,5,14,14,1.518519,7.000000,3.500000,2.666667,3.2,...,5,5,6,6,1,4,2,4,4,1
3,SD_3_08_M,0,16,19,11,1.740741,7.000000,3.277778,3.333333,4.0,...,6,5,5,6,3,4,2,4,5,3
4,SD_7_06_M,0,14,17,16,1.666667,9.666667,3.277778,3.083333,3.4,...,4,4,4,6,3,2,2,2,3,1
5,SD_1_03_M,0,11,19,11,1.500000,10.666667,3.444444,3.541667,3.7,...,4,4,5,5,2,3,2,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,SD_1_04_M,0,13,18,16,1.388889,5.333333,3.777778,3.500000,3.8,...,6,4,6,7,3,2,1,2,4,2
172,SD_3_02_M,0,10,20,17,2.259259,7.000000,3.111111,3.250000,3.6,...,2,1,2,4,4,4,4,3,2,4
173,SD_3_06_W,1,8,13,13,1.518519,5.666667,3.388889,3.541667,2.6,...,3,2,3,6,3,4,2,3,5,4
174,SD_5_10_M,0,10,6,12,1.407407,5.666667,3.444444,3.250000,3.8,...,5,3,4,5,3,3,1,2,4,3
175,SD_6_14_W,1,11,11,3,1.277778,5.000000,3.111111,3.333333,2.9,...,4,5,4,5,2,4,3,2,3,2

In [25]:
df_dates[['FE_Match']]

      FE_Match
1          1.0
2          1.0
3          NaN
4          NaN
5          1.0
...        ...
2184       0.0
2185       0.0
2186       0.0
2187       1.0
2188       1.0

[2188 rows x 1 columns]

In [26]:
df_dates

,PercID,TargID,GroupID,known_either,FE_seen,FE_known,FE_verb,FE_num,FE_spat,FE_crea,...,FE_obs_spat_acq,FE_obs_crea_acq,FE_obs_intra_acq,FE_obs_inter_acq,FE_humor_acq,FE_attract_acq,FE_symp_acq,FE_STR_acq,FE_LTR_acq,FE_Match_acq
1,SD_1_01_M,SD_1_01_W,1,0.0,0.0,0.0,4.0,4.0,3.0,4.0,...,2.0,3.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,1.0
2,SD_1_01_M,SD_1_02_W,1,0.0,0.0,0.0,3.0,5.0,5.0,4.0,...,5.0,5.0,5.0,5.0,5.0,3.0,5.0,4.0,3.0,1.0
3,SD_1_01_M,SD_1_03_W,1,0.0,0.0,0.0,4.0,3.0,3.0,4.0,...,2.0,5.0,5.0,5.0,4.0,2.0,5.0,2.0,1.0,NaN
4,SD_1_01_M,SD_1_04_W,1,0.0,0.0,0.0,2.0,5.0,5.0,3.0,...,5.0,4.0,5.0,5.0,3.0,1.0,3.0,1.0,1.0,NaN
5,SD_1_01_M,SD_1_05_W,1,0.0,0.0,0.0,4.0,4.0,3.0,3.0,...,2.0,2.0,5.0,4.0,4.0,5.0,5.0,4.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,SD_7_13_M,SD_7_08_W,7,0.0,0.0,0.0,4.0,4.0,4.0,2.0,...,1.0,4.0,2.0,2.0,3.0,5.0,5.0,1.0,1.0,0.0
2185,SD_7_13_M,SD_7_09_W,7,1.0,0.0,0.0,4.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2186,SD_7_13_M,SD_7_10_W,7,0.0,0.0,0.0,2.0,4.0,4.0,2.0,...,4.0,4.0,2.0,3.0,3.0,3.0,4.0,1.0,1.0,0.0
2187,SD_7_13_M,SD_7_11_W,7,0.0,0.0,0.0,4.0,4.0,3.0,5.0,...,3.0,5.0,4.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0
2188,SD_7_13_M,SD_7_12_W,7,0.0,0.0,0.0,4.0,3.0,4.0,3.0,...,4.0,3.0,3.0,3.0,5.0,5.0,4.0,1.0,3.0,1.0

In [30]:
df_dates[['PercID', 'TargID', 'FE_Match']].copy

         PercID     TargID  FE_Match
1     SD_1_01_M  SD_1_01_W       1.0
2     SD_1_01_M  SD_1_02_W       1.0
3     SD_1_01_M  SD_1_03_W       NaN
4     SD_1_01_M  SD_1_04_W       NaN
5     SD_1_01_M  SD_1_05_W       1.0
...         ...        ...       ...
2184  SD_7_13_M  SD_7_08_W       0.0
2185  SD_7_13_M  SD_7_09_W       0.0
2186  SD_7_13_M  SD_7_10_W       0.0
2187  SD_7_13_M  SD_7_11_W       1.0
2188  SD_7_13_M  SD_7_12_W       1.0

[2188 rows x 3 columns]

In [33]:
df_dates[['PercID']